<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreTextDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4497AE226FDE7A4001B66B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4497AF826FDE7A8001B66B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4497B0326FDE7A8001B66B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
